{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" />
{% endblock %}
{% block body %}
    <h1>Unpublishedpic edit</h1>

    {{ form_start(edit_form) }}
        <table class="table-bordered table-sm table">
        <thead>
            <tr>
                <th>
                    Propriété
                </th>
                <th>
                    Valeur
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                {{ form_label(edit_form.name) }}
                {{ form_errors(edit_form.name) }}
            </th>
            <th>
                {{ form_widget(edit_form.name) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.shortName) }}
                {{ form_errors(edit_form.shortName) }}
            </th>
            <th>
                {{ form_widget(edit_form.shortName) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.description) }}
                {{ form_errors(edit_form.description) }}
            </th>
            <th>
                {{ form_widget(edit_form.description) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.shortdescription) }}
                {{ form_errors(edit_form.shortdescription) }}
            </th>
            <th>
                {{ form_widget(edit_form.shortdescription) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.country) }}
                {{ form_errors(edit_form.country) }}
            </th>
            <th>
                {{ form_widget(edit_form.country) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.region) }}
                {{ form_errors(edit_form.region) }}
            </th>
            <th>
                {{ form_widget(edit_form.region) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.city) }}
                {{ form_errors(edit_form.city) }}
            </th>
            <th>
                {{ form_widget(edit_form.city) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.theme) }}
                {{ form_errors(edit_form.theme) }}
            </th>
            <th>
                {{ form_widget(edit_form.theme) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.type) }}
                {{ form_errors(edit_form.type) }}
            </th>
            <th>
                {{ form_widget(edit_form.type) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.author) }}
                {{ form_errors(edit_form.author) }}
            </th>
            <th>
                {{ form_widget(edit_form.author) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.subject) }}
                {{ form_errors(edit_form.subject) }}
            </th>
            <th>
                {{ form_widget(edit_form.subject) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.lat) }}
                {{ form_errors(edit_form.lat) }}
            </th>
            <th>
                {{ form_widget(edit_form.lat) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.lng) }}
                {{ form_errors(edit_form.lng) }}
            </th>
            <th>
                {{ form_widget(edit_form.lng) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.gmapslink) }}
                {{ form_errors(edit_form.gmapslink) }}
            </th>
            <th>
                {{ form_widget(edit_form.gmapslink) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.picdate) }}
                {{ form_errors(edit_form.picdate) }}
            </th>
            <th>
                {{ form_widget(edit_form.picdate) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.backgroundcolor) }}
                {{ form_errors(edit_form.backgroundcolor) }}
            </th>
            <th>
                {{ form_widget(edit_form.backgroundcolor) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.displayPic) }}
                {{ form_errors(edit_form.displayPic) }}
            </th>
            <th>
                {{ form_widget(edit_form.displayPic) }}
            </th>
        </tr>
        </tbody>
</table>
        <button class="btn btn-success" type="submit" value="Modifier">Modifier</button>

    {{ form_end(edit_form) }}
    <br/>
    <a href="{{ path('unpublishedpics_index') }}"><button type="button" class="btn btn-info">Retour à la liste</button></a>
    <br/>
            {{ form_start(delete_form) }}
    <button type="submit" value="Delete" class="btn btn-danger">Supprimer</button>
            {{ form_end(delete_form) }}
{% endblock %}
