{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" />
{% endblock %}
{% block body %}
    <h1>Nouvelle image</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('unpublishedpics_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
