<!DOCTYPE html>
<html>
    <head>
        {% block analytics %}{% endblock %}
        <meta charset="UTF-8" />
        <title>{% block title %}Souvenirs de route{% endblock %} | Karim Morel</title>
        <meta name="viewport" content="width=device-width" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('font/font-awesome/css/font-awesome.min.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
</html>
