<!DOCTYPE html>
<html>
<head>
    {% block analytics %}{% endblock %}
    <meta charset="UTF-8" />
    <title>{% block title %}Accueil | Souvenirs de route{% endblock %} | Karim Morel</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Souvenirs de route est un site où une nouvelle photo est publiée chaque jour. Je travaille en voyageant et j'en profite pour découvrir le monde. Je garde une trace de mes découvertes en ajoutant une nouvelle image de mon parcours chaque jour." />
    <link rel="canonical" href="https://souvenirsderoute.fr/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Accueil | Souvenirs de route | Karim Morel" />
    <meta property="og:description" content="Je travaille en voyageant et j'en profite pour découvrir le monde." />
    <meta property="og:url" content="https://souvenirsderoute.fr/" />
    <meta property="og:site_name" content="SouvenirsDeRoute" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Je travaille en voyageant et j'en profite pour découvrir le monde." />
    <meta name="twitter:title" content="Accueil | Souvenirs de route | Karim Morel" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('font/font-awesome/css/font-awesome.min.css') }}" />
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>
