{% extends 'base.html.twig' %}
{% block body %}
<div id="nav-button">
	<svg version="1.1" id="calque-nav" fill="#333" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 611 611" style="enable-background:new 0 0 611 611;" xml:space="preserve">
	<rect id="rect-one" x="-0.4" y="404.5" width="611.3" height="98.5" transform="matrix(1.00000000, 0.00000000, 0.00000000, 1.00000000, 0, 0)"/>
	<rect id="rect-two" x="-0.4" y="109" width="611.3" height="98.5"/>
</svg>
</div>
<nav>
	<div class="nav-container">
		<div class="nav-vertical">
			<h1>Karim Morel</h1>
			<blockquote class="erased">- Souvenirs d'Asie.</blockquote>
			<blockquote class="erased">Une nouvelle photo est publiée chaque jour sur ce site qui reprend mes souvenirs de voyage et les moments forts passés à l'étranger.</blockquote>
			<div class="social">
				<div class="link-container"><div class="sep"></div><a href="https://www.youtube.com/channel/UCbFB4IHyLqwcz_VVKAaJbaw/videos" target="_blank">Youtube</a></div>
				<div class="link-container"><div class="sep"></div><a href="#" target="_blank">Blog</a></div>
				<div class="link-container"><div class="sep"></div><a href="#" target="_blank">Instagram</a></div>
			</div>
		</div>
		<div class="website">
			<a href="http://www.karimmorel.fr" target="_blank">karimmorel.fr</a>
		</div>
	</div>
</nav>
<div id="content">
	{% for pic in pics %}
	<div class="container">
		<div class="shadow-div">
			<div class="plus">
				<div class="plus-span-container">
					<span>
						+
					</span>
				</div>
				<div class="text-container">
					<h1>{{ pic.name }}</h1>
					<div class="sep"></div>
					<p>{{ pic.description }}</p>
					<blockquote>{{ pic.region }} - {{ pic.picdate|date('Y') }}</blockquote>
					<span class="signature">{{ pic.theme | lower}}_</span>
				</div>
			</div>
			{% if pic.type|split('.')|last == 'jpeg' %}
			<img src="{{ asset('uploads/non_publiee/' ~ pic.type) }}"/>
			{% elseif  pic.type|split('.')|last == 'mp4' or pic.type|split('.')|last == 'gif' %}
			<video controls autoplay>
				<source src="{{ asset('uploads/non_publiee/' ~ pic.type) }}" type="video/mp4">
				</video>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endblock %}

	{% block stylesheets %}
	<style>
	body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
	h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
	h1 { font-size: 36px; }
	h2 { font-size: 21px; margin-bottom: 1em; }
	p { margin: 0 0 1em 0; }
	a { color: #0000F0; }
	a:hover { text-decoration: none; }
	code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
	#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
	#container { padding: 2em; }
	#welcome, #status { margin-bottom: 2em; }
	#welcome h1 span { display: block; font-size: 75%; }
	#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
	#icon-book { display: none; }

	@media (min-width: 768px) {
		#wrapper { width: 80%; margin: 2em auto; }
		#icon-book { display: inline-block; }
		#status a, #next a { display: block; }

		@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
		@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
		.sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
	}
</style>
{% endblock %}
