{% extends '::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" />
{% endblock %}
{% block body %}
<div class="container">
    <a href="{{ path('home') }}"><button type="button" class="btn btn-info">Page Photo</button></a>
    <a href="{{ path('unpublishedpics_new') }}"><button type="button" class="btn btn-primary">Ajouter une image</button></a>
    <br/>
    <br/>
    <h2>Photos publiées</h2>
    <br/>
    <table class="table-bordered table-sm table">
        <thead>
            <tr>
                {# <th>Image</th> #}
                <th>Nom</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Publiée ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for unpublishedPic in unpublishedPics %}
            {% if unpublishedPic.displayPic %}
            <tr>
                {# <td><a href="{{ path('unpublishedpics_show', { 'id': unpublishedPic.id }) }}"><img src="{{ asset('uploads/non_publiee/' ~ unpublishedPic.type) }}" width="200"/></a></td> #}
                <td><a href="{{ path('unpublishedpics_show', { 'id': unpublishedPic.id }) }}">{{ unpublishedPic.name }}</a></td>
                <td>{{ unpublishedPic.description }}</td>
                <td>{{ unpublishedPic.country }} - {{ unpublishedPic.region }} ( {{ unpublishedPic.city }} )</td>
                <td>{% if unpublishedPic.displayPic %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('unpublishedpics_edit', { 'id': unpublishedPic.id }) }}">Modifier</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <br/>
    <h2>Photos non publiées</h2>
    <br/>
    <table class="table-bordered table-sm table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Publiée ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for unpublishedPic in unpublishedPics %}
            {% if unpublishedPic.displayPic == 0 %}
            <tr>
                <td><a href="{{ path('unpublishedpics_show', { 'id': unpublishedPic.id }) }}"><img src="{{ asset('uploads/non_publiee/' ~ unpublishedPic.type) }}" width="200"/></a></td>
                <td><a href="{{ path('unpublishedpics_show', { 'id': unpublishedPic.id }) }}">{{ unpublishedPic.name }}</a></td>
                <td>{{ unpublishedPic.description }}</td>
                <td>{{ unpublishedPic.country }} - {{ unpublishedPic.region }} ( {{ unpublishedPic.city }} )</td>
                <td>{% if unpublishedPic.displayPic %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('unpublishedpics_edit', { 'id': unpublishedPic.id }) }}">Modifier</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <quote>Garder comme idée de créer une map qui regroupe tous les points de mes photos sur une carte du monde et recréer un chemin.</quote>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
